.main-title {
    font-family: var(--font-title);
    font-size: 6rem;
    margin-bottom: 5rem;
}

.main-title.-second {
    font-size: 3rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}