.main-bg {
    padding: var(--gap);
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--text-color);
}

.main-bg.-white {
    background-image: none;
    color: #000;
}