.main-content {
    max-width: 120rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: 6rem var(--gap);
}

.main-content.-grid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
}

.main-content.-grid > .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content.-grid > .image-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content.-grid .image {
    width: 100%;
    height: auto;
}

.main-content.-column {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content.-column > .main-text {
    margin-bottom: var(--gap);
    text-align: center;
}