@media (max-width: 810px) {
    .main-title {
        text-align: center;
        font-size: 4.5rem;
    }

    .main-text {
        text-align: center;
        font-size: 1.6rem;
    }

    .main-content.-grid {
        grid-template-columns: 1fr;
    }

    .main-content.-column {
        justify-content: center;
        padding: var(--gap);
    }

    .header {
        margin-bottom: var(--gap);
    }

    .top-content {
        grid-template-columns: 1fr;
    }

    .top-box > .main-title.-second {
        justify-content: center;
    }

    .top-box > .main-text {
        max-width: 36rem;
        margin: 0 auto;
    }

    .gallery-content {
        grid-template-columns: 1fr;
    }

    .gallery-content > .gallery-img {
        margin: 0 auto;
    }

    .main-content.-grid > .-image-form {
        display: none;
    }

    .form-row.-multiple {
        flex-direction: column;
    }

}